.custom-body {
    background-color: black;
}

@media screen and (min-width: 992px) {
    .dropdown-menu {
        min-width: 300px;
        margin-left: -100px;
    }
}

.btn-violet {
    /*background-color: #7134ff !important;*/
    --bs-btn-bg: #7134ff;
    --bs-btn-hover-bg: #5d2ed0;
    --bs-btn-active-bg: #4f20c4;
    --bs-btn-disabled-bg: #8e6bf8;
}
